.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.wrapper{
  display: grid;
  grid-template-columns: 7fr 3fr;
  z-index: 0;
}

.timelineContainer{
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  width: 100%;
}

.timelineTitle{
  color: white; 
  font-size: 2em;
  background-color:rgb(76, 172, 255);
  margin: 0;
  height: 147px;
  line-height: 147px;
  width: 100%;
}

.attendTitle{
  font-size: 2.5em;
  height: 147px;
  line-height: 147px;
  margin: 0;
  color: white; 
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 6;
}

@media only screen and (max-width: 900px) {
  .wrapper{
    display: flex;
    flex-flow: column wrap;
  }
}
  